.appContainer {
  width: 100dvw;
  padding: 0;
  @media (max-width: 1000px) {
    flex-direction: column;
  }
  .dailyInfoContainer {
    width: 35%;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
  .infoBoxesContainer {
    width: 65%;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
}